<table width=100%border='0' cellspacing='0' cellpadding='0'>
	<tr>
		<td width=40%><h1>Employee: <%= @employee.name %> (<%= @employee.employee_id %>)</h1></td>
	</tr>
</table>


<%= render :partial => "form"%>
